/* Custom Stylesheet */
 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  
  .btn {
    border-radius: 4px;
  }
  
  a {
    border-radius: 4px;
  }

  .teal {
    max-height: 6vw
  }

  .teal img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:inherit;
  }
